---
import Layout from '@/layouts/Layout.astro';
import { art } from "@art";

interface ArtItem {
  id: number;
  name: string;
  technique: string;
  size: string;
  year: string;
  price: string;
  image: string;
  thumbnail: string;
}

export async function getStaticPaths() {
  const paths = art.map((item: ArtItem) => ({
    params: { id: item.id.toString() },
  }));

  return paths // Asegúrate de devolver también la propiedad 'fallback'
}

const { id } = Astro.params;
const item = art.find((item: ArtItem) => item.id.toString() === id);

if (!item) {
  throw new Error(`Item with id ${id} not found`);
}
---
<Layout title={item.name}>
  <div class="max-w-screen-xl mx-auto">
    <h2 class="text-3xl my-5 uppercase">{item.name}</h2>
    <div class="grid grid-cols-4 gap-3  mx-auto">
      <img class="col-span-2" loading="lazy" src={"../" + item.image} alt={item.name} />
      <div>
        <p><strong>Técnica:</strong> {item.technique}</p>
        <p><strong>Tamaño:</strong> {item.size}</p>
        <p><strong>Año:</strong> {item.year}</p>
        <p><strong>Precio:</strong> {item.price}</p>
      </div>
    </div>
  </div>
</Layout>
