---
import Layout from "@/layouts/Layout.astro"
import { bio,sections } from "@art"
interface Bio {
  bio: string;
  image: string;
}
const currentPath = Astro.url.pathname;
const section = sections.find((section) => section.url === currentPath);
---
{section && (
  <Layout title={section.name}>
    <div class="max-w-screen-lg mx-auto">
      <h2 class="text-3xl my-5 uppercase">{section.name}</h2>

      <h3>{bio.name}</h3>
      <h3>{bio.profession}</h3>
      <div class="grid grid-cols-3 gap-4">
        <div>
          <img src={bio.image} alt="Diego Aizpuru" class="w-full" />
        </div>
        <p class="col-span-2">{bio.description}</p>
      </div>
    </div>
  </Layout>
)}
