---
import Layout from "@/layouts/Layout.astro"
import { me,sections } from "@art"
const currentPath = Astro.url.pathname;
const section = sections.find((section) => section.url === currentPath);
---
{section && (
  <Layout title={section.name}>
    <div class="max-w-screen-lg mx-auto">
      <h2 class="text-3xl my-5 uppercase">{section.name}</h2>
      <div class="grid grid-cols-3 gap-4">
        <div>
          <img src={me.image} alt="Diego Aizpuru" class="w-full" />
        </div>
        <div class="col-span-2">
          <p>{me.description1}</p>
          <p>{me.description2}</p>
          <p>{me.description3}</p>
          <p>{me.description4}</p>
          <p>{me.description5}</p>
          <p>{me.description6}</p>
        </div>
      </div>
    </div>
  </Layout>
)}
