---
import Layout from '@/layouts/Layout.astro'
import { expos, sections } from '@art'
interface Expos {
  name: string
  type: string
  date: string
  place: string
}
function getSectionNameByCurrentUrl(): string | undefined {
  const { pathname } = Astro.url
  const currentUrl = pathname;
  const section = sections.find(section => section.url === currentUrl);
  return section ? section.name : undefined;
}
const sectionTitle = getSectionNameByCurrentUrl();
---
<Layout title={sectionTitle}>
  <div class="max-w-screen-xl mx-auto px-1">
    <h2 class="text-3xl my-5 uppercase">{sectionTitle}</h2>
    <div class="w-1/2 mx-auto">
      {expos.map((item: Expos) => (
        <article class="grid grid-cols-3 mb-5">
          <div class="flex items-center justify-center rounded-full bg-red text-light w-fit h-fit text-2xl p-5 ">
            <span>{item.date}</span>
          </div>
          <div class="col-span-2">
            <h3 class="text-2xl font-bold">{item.name}</h3>
            <p>{item.type}</p>
            <p>{item.place}</p>
          </div>
        </article>
      ))}
    </div>
  </div>
</Layout>
